<%- include('partials/header') %>
<%- include('partials/nav_bar') %>

  <main class="container column-layout">
    <h1 id="logo2">BdC</h1>
    <h1 id="page-content-title">Bem vindo ao Bolão do Cabeça</h1>    

  </main>

  <%- include('partials/bottom_nav') %>
  <%- include('partials/footer') %>
  





